services:
  srv-pagamento:
    container_name: srv-pagamento
    build:
      context: .
      dockerfile: Dockerfile
    links:
      - mongodb-pagamento
    depends_on:
      - mongodb-pagamento
    networks:
      - srv-pagamento-network
    volumes:
      - srv-pagamento-data:/data/pagamentos
    environment:
      - MONGODB_USERNAME=root
      - MONGODB_PASS=rootpass
    ports:
      - 8083:8083
    restart: always

  mongodb-pagamento:
    image: mongo:latest
    container_name: mongodb-pagamento
    ports:
      - "27021:27017"
    volumes:
      - mongodb-pagamento-data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=rootpass
    networks:
      - srv-pagamento-network

networks:
  srv-pagamentos-network:

volumes:
  mongodb-pagamento-data:
  srv-pagamento-data:
